src/main/resources/german.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="textTables" type="textTablesType"/>
  <xs:complexType name="historyInfoType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="date"/>
    <xs:attribute type="xs:string" name="author"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="historyType">
    <xs:sequence>
      <xs:element type="historyInfoType" name="historyInfo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="constraintsType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="maxChars" use="optional"/>
        <xs:attribute type="xs:string" name="maxLines" use="optional"/>
        <xs:attribute type="xs:string" name="noTranslation" use="optional"/>
        <xs:attribute type="xs:string" name="obd" use="optional"/>
        <xs:attribute type="xs:string" name="obd-key" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="textType">
    <xs:sequence>
      <xs:element type="constraintsType" name="constraints" minOccurs="0"/>
      <xs:element type="xs:string" name="line" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="optional"/>
  </xs:complexType>
  <xs:complexType name="textTableType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="historyType" name="history"/>
      <xs:element type="constraintsType" name="constraints"/>
      <xs:element type="textType" name="text" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="name"/>
    <xs:attribute type="xs:string" name="version"/>
  </xs:complexType>
  <xs:complexType name="textTablesType">
    <xs:sequence>
      <xs:element type="xs:string" name="description"/>
      <xs:element type="textTableType" name="textTable"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="language"/>
    <xs:attribute type="xs:string" name="name"/>
  </xs:complexType>
</xs:schema>